@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #F6F0E6;
  color: #3D2F24;
}

h1, h2, h3, h4, .font-vintage-title {
  font-family: 'Merriweather', serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #EAE1D2;
}
::-webkit-scrollbar-thumb {
  background: #C5B39C;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9E2A2B;
}
